h1 {
    font-size: 2em;
    font-variant: small-caps;
}

h2 {
    color: #022980FF;
    font-family: Georgia, Times, serif;
    font-size: 1.25em;
}

h3 {
    color: #754D04FF;
    font-family: Georgia, Times, serif;
    font-size: 1.25em;
}

p {
    color: #1414B4FF;
    font-family: arial, verdana, sans-serif;
    font-size: 0.8em;
}

footer {
    font-family: arial, verdana, sans-serif;
    font-size: 0.7em;
    color: #022980FF;
}

#mi-parrafo {
    color: #0229802F;
}

.mi-texto {
    font-size: 0.65em;
    /*pt: puntos de tamanio, px: puntos de pixeles, em: relacion al 1.00 al tam original de css */
}

#lw {
    color: #FF0000FF;
    font-family: arial, verdana, sans-serif;
    font-size: 1.2em;
}

.centered {
    text-align: center;
}

.justified {
    text-align: justify;
}

.indentado {
    text-indent: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalizado {
    text-transform: capitalize;
}