h2 {
    font-family: Georgia, Times, serif;
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
    font-family: arial, verdana, sans-serif;
}

.centrado {
    text-align: center;
}

footer {
    font-family: arial, verdana, sans-serif;
    font-size: 0.7em;
}

.italicas {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

.subrayado {
    text-decoration: underline;
}