.iconos_posicion {
    background-position: 4px 0px;
    padding-left: 30px;
}

ul {
    padding: 0px;
    margin: 0px;
}

.icono_auto {
    background-image: url(iconos/auto.jpg);
    background-repeat: no-repeat;
}

.icono_moto {
    background-image: url(iconos/moto.jpg);
    background-repeat: no-repeat;
}

.icono_colectivo {
    background-image: url(iconos/colectivo.jpg);
    background-repeat: no-repeat;
}

.icono_avion {
    background-image: url(iconos/avion.jpg);
    background-repeat: no-repeat;
}

.icono_helicoptero {
    background-image: url(iconos/helicoptero.jpg);
    background-repeat: no-repeat;
}

.icono_bicicleta {
    background-image: url(iconos/bicicleta.jpg);
    background-repeat: no-repeat;
}

