body {
    background-color: #444654;
}

h2 {
    font-family: Georgia, Times, serif;
    font-size: 1.8em;
    text-align: center;
    text-decoration: underline;
    color: #c70101;
}

.comidas {
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
    font-family: arial, verdana, sans-serif;
    color: #dc7500;
}

.recetas {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    line-height: 2;
    font-family: arial, verdana, sans-serif;
    color: #d58e8e;
}

.atracciones {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    line-height: 2;
    font-family: arial, verdana, sans-serif;
    color: #d58e8e;
}

.lugares{
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
    font-family: arial, verdana, sans-serif;
    color: #dc7500;
}